body {
  background-color: #faf6e9;
}

hr {
  /* get rid of default border (a straight line*/
  border-style: none;
  border-top-style: dotted;
  border-color: #b8b2a6;
  border-width: 5px;
  /* 20% of the width of the page, depends on screen size */
  width: 20%
}

h1 { color: #596e79;}
h3 { color: #596e79;}
strong { color: #596e79;}
img { border-radius: 50%;}
